<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
<footer class="footer-basic-centered hide-on-small-only">

    <p class="footer-company-motto">E-TICKETING SYSTEM</p>

    <p class="footer-links">
        <a href="https://www.linkedin.com/in/dhawal-mali-76727515a/">Dhawal Mali</a> ·
        <a href="https://www.linkedin.com/in/atul-kamble-923611147/">Atul Kamble</a>
    </p>

    <div class="footer-icons">

        <a href="#"><i class="fa fa-facebook"></i></a>
        <a href="#"><i class="fa fa-twitter"></i></a>
        <a href="#"><i class="fa fa-linkedin"></i></a>
        <a href="#"><i class="fa fa-github"></i></a>

    </div>

    <p class="footer-company-name">yourBillet &copy; 2019</p>

</footer>
