<div class="events">
    <div style="background-color: white; height: 60px; color: #5D001E;">
        <div class="card">
            <div class="card-content center">
              <h4>YOUR EVENTS</h4>
              <a routerLink="../create" class="btn-floating btn-large waves-effect waves-light right pulse" style="margin-right: 10%;background-color: #5D001E"><i class="material-icons">add</i></a>
            </div>
            <div class="card-tabs">
              <ul class="tabs tabs-fixed-width" style="width: 50%">
                <li class="tab"><a href="#test4">PAST</a></li>
                <li class="tab"><a href="#test5">ACTIVE NOW</a></li>
              </ul>
            </div>
            <div class="card-content grey lighten-4">
              <div id="test4">
                <table class="responsive-table centered">
                    <thead>
                      <tr>
                          <th>Name</th>
                          <th>Item Name</th>
                          <th>Item Price</th>
                      </tr>
                    </thead>

                    <tbody>
                      <tr>
                        <td>Alvin</td>
                        <td>Eclair</td>
                        <td>$0.87</td>
                      </tr>
                      <tr>
                        <td>Alan</td>
                        <td>Jellybean</td>
                        <td>$3.76</td>
                      </tr>
                      <tr>
                        <td>Jonathan</td>
                        <td>Lollipop</td>
                        <td>$7.00</td>
                      </tr>
                    </tbody>
                  </table>
              </div>
              <div id="test5">
                  <table class="responsive-table centered">
                      <thead>
                        <tr>
                            <th>Name</th>
                            <th>Item Name</th>
                            <th>Item Price</th>
                        </tr>
                      </thead>

                      <tbody>
                        <tr>
                          <td>Alvin</td>
                          <td>Eclair</td>
                          <td>$0.87</td>
                        </tr>
                        <tr>
                          <td>Alan</td>
                          <td>Jellybean</td>
                          <td>$3.76</td>
                        </tr>
                        <tr>
                          <td>Jonathan</td>
                          <td>Lollipop</td>
                          <td>$7.00</td>
                        </tr>
                      </tbody>
                    </table>
                </div>
            </div>
          </div>
    </div>
</div>
