<div class="back">
    <div class="container">
        <div>
            <h4 class="center-align title"><strong>Welcome to our Ticketing Portal</strong></h4>
        </div>
        <div id="login-page" class="center" style="margin: 0 25%">
            <div class="z-depth-6 card-panel">
                <form class="login-form" action="" (submit)="onLogin(loginForm)" #loginForm="ngForm">
                    <div class="row">
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <i class="material-icons prefix">mail_outline</i>
                            <input class="validate" id="email" type="email" name="username" ngModel>
                            <label for="email" data-error="wrong" data-success="right">Email</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <i class="material-icons prefix">lock_outline</i>
                            <input id="password" type="password" name="password" ngModel>
                            <label for="password">Password</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <a href="#" class="btn waves-effect col s12" style="background-color: #5D001E">Login</a>
                        </div>
                    </div>
                    <div class="row" style="display: flex;margin: 5%">
                        <div class="col s6" style="height: 36px;display: flex">
                            <div>
                                <img src="https://s3.ap-southeast-1.amazonaws.com/common-resources/assets/google-min.png" height="36px" class="">
                            </div>
                            <div>
                                <a href="#" type="submit" class="btn waves-effect" style="background-color: #4285F4;">Sign in with Google</a>
                            </div>
                        </div>
                        <div class="col s6" style="height: 36px;display: flex">
                            <div style="height: 36px;background-color: #4266B2">
                                <img src="https://s3.ap-southeast-1.amazonaws.com/common-resources/assets/facebook-min.png" height="36px">
                            </div>
                            <div>
                                <a href="#" class="btn waves-effect" style="background-color: #4266B2">Sign in with Facebook</a>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
