<div class="container">
  <div class="row">
      <ul class="tabs z-depth-2">
        <li class="tab col s2"><a href="#test1">Technical</a></li>
        <li class="tab col s2"><a href="#test2">Cooporate</a></li>
        <li class="tab col s4"><a class="active" href="#test3">Cultural</a></li>
        <li class="tab col s2"><a href="#test4">Sports</a></li>
        <li class="tab col s2"><a href="#test5">Fun</a></li>
      </ul>
    </div>
    <div id="test1" class="col s12">
      <h4 class="heading center">TECHNICAL EVENTS IN INDIA</h4>
    </div>
    <div id="test2" class="col s12">
      <h4 class="heading center">COORPORATE EVENTS</h4>
    </div>
    <div id="test3" class="col s12">
      <h4 class="heading center">CULTURAL EVENTS</h4>
    </div>
    <div id="test4" class="col s12">
      <h4 class="heading center">SPORTS EVENTS</h4>
    </div>
    <div id="test5" class="col s12">
      <h4 class="heading center">FUN EVENTS</h4>
    </div>
  </div>
