nav {
  background-color: #5D001E;
}

.dropdown-content {
  width: 300px !important;
}

.dropdown-content li>a {
  color: #5D001E !important;
}

nav .sidenav {
  padding-top: 50%;
  padding-left: 15%;
  width: 350px;
  background: #E3E2DF;
}
