a, button {
  background-color: #5D001E;
}

.createEvent {
  background-color: #fce4ec;
  padding-bottom: 40px;
}

.form-content {
  margin: 5% 20%;
}

agm-map {
  margin: 10%;
  height: 500px;
}

mat-vertical-stepper {
  margin-top: 35px !important;
}
