<div class="head">
    <h4 class="center">{{eventName}}</h4>
</div>

<div class="z-depth-3 ticket">
  <h4 class="center head"><i class="material-icons prefix">event_seat</i> BUY TICKETS</h4>

  <ul class="collapsible popout">
      <li>
        <div class="collapsible-header" (click)="toastFunc1()"><i class="material-icons">book</i>Ticket TYPE ONE</div>
        <div class="collapsible-body"><span>
          <h4 class="center">NUMBER OF TICKETS</h4>
            <div class="align">
                <div>
                  <input type="number" [(ngModel)]="quantity">
                </div>
                <div>
                  <button type="submit" (click)="tickets(1)" class="btn book">BOOK</button>
                </div>
            </div>
        </span></div>
      </li>
      <li>
        <div class="collapsible-header" (click)="toastFunc2()"><i class="material-icons">book</i>Ticket TYPE TWO</div>
        <div class="collapsible-body"><span>
            <h4 class="center">NUMBER OF TICKETS</h4>
              <div class="align">
                  <div>
                    <input type="number" [(ngModel)]="quantity">
                  </div>
                  <div>
                    <button type="submit" (click)="tickets(2)" class="btn book">BOOK</button>
                  </div>
              </div>
          </span></div>
        </li>
      <li>
        <div class="collapsible-header" (click)="toastFunc3()"><i class="material-icons">book</i>Ticket TYPE THREE</div>
        <div class="collapsible-body"><span>
            <h4 class="center">NUMBER OF TICKETS</h4>
              <div class="align">
                  <div>
                    <input type="number" [(ngModel)]="quantity">
                  </div>
                  <div>
                    <button type="submit" (click)="tickets(3)" class="btn book">BOOK</button>
                  </div>
              </div>
          </span></div>

      </li>
    </ul>
</div>
