<div class="z-depth-3 ticket">
  <h2 class="center">EVENT NAME</h2><br>
  <h4 class="center">SELECT TICKET TYPE</h4>
  <form action="#">
    <div class="myclass">
      <div>
        <p>
          <label>
            <input name="group1" (click)="func()" value="Type 1" type="radio" />
            <span>Type 1</span>
          </label>
        </p>
        <p>
          <label>
            <input name="group1" (click)="func()" value="Type 2" type="radio" />
            <span>Type 2</span>
          </label>
        </p>
        <p>
          <label>
            <input name="group1" (click)="func()" value="Type 3" type="radio"  />
            <span>Type 3</span>
          </label>
        </p>
      </div>
      <div *ngIf="divFlag == true">
        <h4>Select Number of tickets</h4>
        <input type="number" name="quantity">
        <label for="quantity">Number of Tickets</label>
      </div>
    </div>
    <button type="submit" class="btn" style="margin-left: 40%">BOOK</button>
  </form>
</div>
